

body{
	font-family: arial;
	font-size: 14px;
}

.content{
	margin-top: 25px;
}

.content .tl{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: solid 1px #e1e1e1;
}

.content .tl select{
	width: 100px;
	height: 30px;
	padding: 2px;
}

.content .record button{
	height: 34px;
}

.content .record span{
	height: 34px;
	line-height: 34px;
}

.content .record{
	margin-top: 5px;
	margin-bottom: 5px;
}

.btnsave{
	position: relative;
}


.relative1{
	position: relative;
}

#pic_load{
	position: absolute;
	right: 70px;
	top: 25px;
}

.hide{
	display: none;
}

.load-img{
	position: absolute;
	right: -60px;
	top: 0px;
	z-index: 9999;
}